{% extends "base.html" %}
{% block content %}
    <h1>News Feed</h1>
    <a href="{% url 'app:addpost' %}"><button type="button" class="btn btn-info btn-lg" >Add New Post</button></a>

    <hr>
    <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Post</button> -->

    <!-- Modal -->
    <!-- <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
       -->
        <!-- Modal content-->
        <!-- <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Post</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div> -->
    
    <p>
        {% for post in posts %}
            <h1>Posted: @{{post.author}}</h1>
            <div>
              <p>Title: {{post.title}}</p>
              <p>{{post.description}}</p>
              <p>{{post.create_date}}</p>
              <a href="{% url 'app:updatepost' post.id%}"><button type="button" class="btn btn-primary btn-lg" >UPDATE</button></a>
              <a href="{% url 'app:deletepost' post.id%}"><button type="button" class="btn btn-danger btn-lg" >DELETE</button></a>
          </div>
            <hr>
        {% endfor %}
    </p>
{% endblock %}